html {
  height: 100%;
  background-color: #3498db;
}

.webpage {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 700px;
  height: 1750px;
  color: #ffffff;
  background: rgba(0, 0, 0, .7);
  opacity: 1;
  border-radius: 10px;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, .5);
}

img {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin: 20px 10px 0px 20px;
  border-radius: 5px;
}

.projectText {
  display: inline-block;
  width: 450px;
  margin: 20px 0px 0px 0px;
}

p.name {
  font-family: 'Lato';
  font-size: 24px;
  margin: 0px;
}

p.content {
  font-family: 'Lato';
  font-size: 16px;
  margin: 0px;
}

.title {
  position: relative;
  top: 45px;
  font-family: 'Space Mono';
  font-size: 52px;
  color: #ffffff;
  text-align: center;
}

@media all and (max-width: 900px) {
  .webpage {
    margin-top: 5%;
    width: 350px;
    height: 870px;
  }
  .title {
    font-size: 24px;
    top: 22px;
  }
  img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px 5px 0px 10px;
    border-radius: 2px;
  }
  .projectText {
    width: 225px;
    margin: 10px 0px 0px 0px;
  }
  p.name {
    font-family: 'Lato';
    font-size: 12px;
    margin: 0px;
  }
  p.content {
    font-family: 'Lato';
    font-size: 8px;
    margin: 0px;
  }
}
