html  {
  height: 100%;
  background-color: #D4D3D1;
  /*background: url(../Hexagon-2.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  */
}

/*
'Space Mono', monospace;
'Lato', sans-serif;
*/

.webpage {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 450px;
  color: #ffffff;
  background: #424242;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, .5);
}


.subtext {
  position: relative;
  top: 7%;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.title {
  position: relative;
  top: 45px;
  font-family: 'Space Mono';
  font-size: 52px;
  color: #ffffff;
  text-align: center;
}


.button1 {
  position: relative;
  margin-top: 100px;
  width: 140px;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #3498db;
  padding: 20px;
  font-family: 'Space Mono';
  font-size: 20px ;
  color: #3498db;
  text-align: center;
  display: inline-block
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.button1:hover {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
}
.button2 {
  position: relative;
  margin-top: 100px;
  width: 140px;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #2ecc71;
  padding: 20px;
  font-family: 'Space Mono';
  font-size: 20px ;
  color: #2ecc71;
  text-align: center;
  display: inline-block
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.button2:hover {
    background-color: #2ecc71;
    color: #ffffff;
    cursor: pointer;
}
.button3 {
  position: relative;
  margin-top: 100px;
  width: 140px;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #e74c3c;
  padding: 20px;
  font-family: 'Space Mono';
  font-size: 20px ;
  color: #e74c3c;
  text-align: center;
  display: inline-block
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.button3:hover {
    background-color: #e74c3c;
    color: #ffffff;
    cursor: pointer;
}


@media all and (max-width: 900px) {
  .webpage {
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 350px;
    height: 400px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .subtext {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

a{
  text-decoration: none;
}

  .button1 {
    font-size: 16px;
    display: block;
    top: 40px;
    margin: auto auto 10px auto;
    text-align: center;
    position: relative;
}
.button2 {
  font-size: 16px;
  display: block;
  top: 40px;
  margin: auto auto 10px auto;
  text-align: center;
  position: relative;
}
.button3 {
  font-size: 16px;
  display: block;
  top: 40px;
  margin: auto auto 10px auto;
  text-align: center;
  position: relative;
}
}
