body {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}
sup {
  font-size: 30px;
}
#background {
  background-image: url("gear.png");
  background-repeat: no-repeat;
  background-position: center, center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1337;
}
.quotes {display: none;}
.outlet {
  position: absolute;
  margin: 0 auto;
  top: 45%;
  padding: 5px;
}
.outlet:hover > sup {
  display: none;
}
#printing:hover:before {
  content: "//";
}
#research:hover {
  text-transform: uppercase;
  margin-left: -85px !important;
}
#research:hover:after {
  text-transform: uppercase;
  content: "!";
}
#events:hover {
  text-transform: lowercase;
}
#events:hover:after {
  text-transform: lowercase;
  content: "\2014";
}
#printing {
  font-weight: 600;
  font-family: Courier, monospace;
  color: #74C04A;
  left: 5%;
}
#research {
  font-weight: 700;
  font-family: 'Life Savers', cursive;
  color: #F7922D;
  left: 50%;
}
#events {
  font-weight: 400;
  font-family: 'Sofia', cursive;
  color: #F05250;
  right: 5%;
  margin-top: -10px;
}
#footnotes {
  left: 2%;
}
.bottom > sup {
  font-size: 15px;
}
.resume {
  position: absolute;
  right: 2%;
  bottom: 7%;
  font-size: 30px;
}
.resume:hover {
  text-decoration: underline;
}
.copyright {
  position: absolute;
  right: 2%;
  bottom: 3%;
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  #background {
    background-size: 95%;
  }
  .outlet {
    font-size: 25px;
  }
  #research {
    margin-left: -40px;
  }
  #research:hover {
    margin-left: -50px !important;
  }
  #events {
    margin-top: -5px;
  }
  #hero {
    margin-top: 0%;
    font-size: 20px;
  }
  .bottom {
    font-size: 12px;
  }
  sup {
    font-size: 15px;
  }
  .bottom > sup {
    font-size: 11px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  #background {
    background-size: 80%;
  }
  .outlet {
    font-size: 30px;
  }
  #research {
    margin-left: -45px;
  }
  #research:hover {
    margin-left: -55px !important;
  }
  #events {
    margin-top: -5px;
  }
  #hero {
    margin-top: 12%;
    font-size: 20px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  #background {
    background-size: 80%;
  }
  .outlet {
    font-size: 40px;
  }
  #research {
    margin-left: -60px;
  }
  #research:hover {
    margin-left: -75px !important;
  }
  #hero {
    margin-top: 12%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #background {
    background-size: 75%;
  }
  .outlet {
    font-size: 60px;
  }
  #research {
    margin-left: -85px;
  }
  #research:hover {
    margin-left: -105px !important;
  }
  #hero {
    font-size: 40px;
    margin-top: 5%;
  }
  .bottom {
    font-size: 30px;
  }
  .bottom > sup {
    font-size: 11px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  #background {
    background-size: 75%;
  }
  .outlet {
    font-size: 45px;
  }
  #research {
    margin-left: -65px;
  }
  #research:hover {
    margin-left: -80px !important;
  }
  #hero {
    font-size: 22px;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  #background {
    background-size: 60%;
  }
  .outlet {
    font-size: 50px;
  }
  #research {
    margin-left: -70px;
  }
  #research:hover {
    margin-left: -90px !important;
  }
  #hero {
    font-size: 25px;
    margin-top: 8%;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  #background {
    background-size: 55%;
  }
  .outlet {
    font-size: 55px;
  }
  #research {
    margin-left: -80px;
  }
  #research:hover {
    margin-left: -100px !important;
  }
  #hero {
    margin-top: 6%;
  }
}
@media only screen and (min-width: 1441px) {
  #background {
    background-size: 45%;
  }
  .outlet {
    font-size: 60px;
  }
  #research {
    margin-left: -88px;
  }
  #research:hover {
    margin-left: -108px !important;
  }
  #hero {
    margin-top: 4%;
  }
}
